* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  background-size: cover;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: grid;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background: #fff;
  align-items: center;
}

.menu {
  height: 13px;
  margin-top: 5px;
}

.menu-items {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(96, 112, 255, 0.9);
  width: 100%;
  height: 100vh;
  z-index: 50;
  font-size: 15px;
}

.show-links {
  display: block;
  backdrop-filter: blur(3px);
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  font-size: 33px;
}

#work-popup-section {
  background: #c1c7d0;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  position: fixed;
  padding: 1px 29px;
  z-index: 100;
  width: 100%;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  display: none;
}

.modal.open {
  display: block;
}

#popUp-card {
  padding: 12px 24px;
}

#popUp-view {
  width: 100%;
  position: relative;
  background: white;
  margin-top: 35px;
  padding: 23px;
  border-radius: 20px;
}

#popUp-Close {
  position: absolute;
  top: 22px;
  right: 8px;
  margin: 8px;
}

.card-title {
  color: #172b4d;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-items: flex-start;
}

.work-snapshot {
  margin-top: 15px;
  width: 100%;
}

.work-description {
  margin-top: 8px;
  text-align: justify;
}

.close-btn {
  float: right;
  padding: 13px;
  color: white;
  filter: invert(1);
}

.work-detail-box ul {
  display: flex;
  justify-items: flex-start;
  list-style: none;
  margin-top: 10px;
}

li.work-detail {
  padding-right: 20px;
}

#pop-github {
  width: 15px;
  background: #6070FF;
}

.work-button1 {
  border: 1px solid #396df2;
  padding: 9px 23px;
  border-radius: 9px;
  margin-top: 39px;
  margin-right: 21px;
}

#live {
  width: 15px;
  background: #6070FF;
}

#work-buttons {
  display: flex;
  margin-bottom: 20px;
}

.capony {
  color: #344563;
  font-size: 13px;
}

.nav1 {
  padding: 37px 43px;
  list-style: none;
  font-size: 20px;
}

.information {
  color: #fff;
  font-size: 30px;
  opacity: 0.8;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #6070ff;
  font-size: 15px;
  font-weight: bold;
}

.landing-section {
  background: url(header.png), #fff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  padding-bottom: 100px;
  border-radius: 0 0 0 45px;
}

.para {
  font-size: 43px;
  font-weight: bold;
  color: #172b4d;
  margin-top: 73px;
  padding: 7px;
  margin-left: 13px;
}

.para1 {
  color: #344563;
  margin-left: 16px;
  margin-top: -2px;
  font-size: 18px;
}

h2 {
  font-size: 18px;
  color: #7f8cff;
  margin-top: 19px;
}

.social-icons {
  display: flex;
  list-style-type: none;
  margin-top: 7px;
  margin-left: 9px;
}

.icon {
  padding: 10px;
}

.works-container {
  margin-left: 25px;
  margin-right: 25px;
}

.works {
  padding: 18px 20px;
  margin-top: 125px;
  background: #fff;
  border: 1px solid#b8bfd4;
  border-radius: 15px;
}

.snapshoot-portfolia {
  width: 100%;
}

.heading {
  margin-left: -2px;
  margin-top: 11px;
  color: #172b4d;
  font-size: 36px;
  font-weight: bold;
}

.details {
  display: flex;
  margin-top: 18px;
  margin-left: -16px;
}

h5 {
  color: #344563;
  font-size: 16px;
  margin-left: 18px;
}

.dot {
  margin-right: 7px;
  margin-left: 7px;
  align-self: center;
}

.det {
  color: #7a869a;
  font-size: 16px;
}

.content {
  color: #344563;
  margin-top: 13px;
  font-size: 18px;
}

.btn {
  margin-top: 14px;
  display: flex;
  text-align: center;
}

.btn1 {
  color: #6070ff;
  padding: 5px 11px;
  border: 1px solid #ebebff;
  list-style: none;
  background: #ebebff;
  border-radius: 8px;
  font-size: 14px;
  margin: 2px 4px;
}

.btn2 {
  border: 1px solid #396df2;
  margin-top: 25px;
  font-size: 20px;
  color: #396df2;
  padding: 15px 17px;
  border-radius: 10px;
  background: #fff;
  letter-spacing: 2px;
}

.btn3 {
  border: 1px solid #396df2;
  margin-top: 15px;
  font-size: 20px;
  color: #396df2;
  padding: 15px 12px;
  border-radius: 10px;
  background: #fff;
  letter-spacing: 2px;
  margin-left: 17px;
}

.skill-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}

.skill__heading {
  margin-top: 55px;
  margin-left: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang {
  font-size: 24px;
}

.Myself {
  padding: 11px 19px;
  color: #fff;
  border: 1px solid #dfe1e6;
  background: #fff;
  border-radius: 0 54px 0 0;
  margin-top: 110px;
  padding-bottom: 135px;
}

.list {
  list-style: none;
  color: black;
}

.js {
  margin-top: 20px;
  margin-left: 22px;
  list-style: none;
  background: #f7f7f9;
  border-radius: 18px;
}

.js-task {
  font-size: 23px;
  color: #253858;
  margin-left: 20px;
}

.logo {
  display: flex;
  align-items: center;
  padding: 6px;
}

.skill_heading {
  margin-top: 30px;
  margin-left: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn3:hover {
  background: #6070ff;
  color: white;
}

.btn3:active {
  background: #2230d2;
  color: white;
}

.btn3:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.btn2:hover {
  background: #6070ff;
  color: white;
}

.btn2:active {
  background: #2230d2;
  color: white;
}

.btn2:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.fom {
  text-align: center;
}

.contact-form {
  background: url(background-form.png), #6070ff;
  border-radius: 65px 0 0 0;
  font-family: 'Poppins', sans-serif;
  position: relative;
  background-position: right;
  background-repeat: no-repeat;
  margin-top: -50px;
}

.contact-heading {
  font-size: 41px;
  text-align: center;
  margin-top: 100px;
  color: #fff;
}

.contact-para {
  text-align: center;
  margin-top: 7px;
  color: #fff;
  padding: 14px 12px;
}

.form {
  margin-top: 27px;
  text-align: center;
}

#name {
  padding: 9px;
  border-radius: 7px;
  border: 1px solid #cfd8dc;
  width: 82%;
  margin-left: 20px;
}

#email {
  padding: 9px;
  border-radius: 7px;
  border: 1px solid #cfd8dc;
  width: 82%;
  margin-top: 12px;
  margin-left: 20px;
}

#msg {
  padding: 9px;
  border-radius: 7px;
  border: 1px solid #cfd8dc;
  width: 82%;
  margin-top: 12px;
  margin-left: 20px;
  padding-bottom: 110px;
}

.fomm::placeholder {
  color: #172b4d;
  opacity: 1;
  font-size: 17px;
}

.text ::placeholder {
  color: #b3bac5;
  opacity: 0.3;
  font-size: 16px;
}

.div-button button {
  padding: 15px 30px;
  color: #6070ff;
  font-size: 22px;
  border-radius: 11px;
  border: 1px solid #cfd8dc;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.shape {
  border-bottom: 7px solid #0d151e;
  margin: auto;
  width: 129px;
  margin-top: 44px;
  border-radius: 20px;
}

.btnn:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.btnn:hover {
  background: #6070ff;
  color: white;
  cursor: pointer;
}

.btnn:active {
  background: #2230d2;
  color: white;
  cursor: pointer;
}

.icon img {
  animation: rotate360 1.2s linear infinite;
  animation-play-state: paused;
}

.icon img:hover {
  animation-play-state: running;
}

@keyframes rotate360 {
  to {
    transform: rotate(120deg);
  }
}

@media screen and (min-device-width: 995px) {
  .menu {
    display: none;
  }

  .show-links {
    display: none;
  }

  .menu-items {
    display: block;
    padding-right: 104px;
    position: static;
    background: none;
    height: unset;
    z-index: 100;
    margin-left: 120px;
  }

  .close-btn {
    display: none;
  }

  .information {
    color: #344563;
  }

  .nav1 {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
  }

  .nav1 li {
    padding: 10px 12px;
    color: #344563;
    font-size: 14px;
  }

  .landing-section {
    background: url(./Image/Headerbg.png), #fff;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 0 96px;
    padding-left: 47px;
    padding-right: 120px;
  }

  .content1 {
    padding: 38px 81px;
  }

  .navbar a {
    font-size: 17px;
    padding: 10px 25px;
  }

  .work {
    display: flex;
  }

  .works {
    display: flex;
    padding-right: 10px;
  }

  .snapshoot-portfolia {
    width: 90%;
  }

  .work-description {
    padding-right: 30px;
    flex: 2;
  }

  .works-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .content2 {
    width: 55%;
    flex: 1;
  }

  .snapp {
    flex: 1;
  }

  .works-reverse {
    flex-direction: row-reverse;
  }

  .Myself {
    display: flex;
    padding-left: 67px;
    padding-right: 67px;
  }

  .fom {
    align-items: center;
    width: 600px;
    margin: auto;
  }

  .contact-form {
    background: url(Image/contactform-background.png), #6070ff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .shape {
    display: none;
  }

  .div-button {
    margin-top: 20px;
    padding-bottom: 118px;
  }
}
